In [1]:
import pandas as pd

In [2]:
#Import the csvs
glassdoor_data = "../../glassdoor_reviews.csv"
glassdoor_df = pd.read_csv(glassdoor_data)

glassdoor_df.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."

In [6]:
#See how many companies are in the dataframe
print("The number of companies in this dataset is:")
print(glassdoor_df["firm"].nunique())
print("-----")
print("They are:")
for i in glassdoor_df["firm"].unique():
    print(f"   {i}")

The number of companies in this dataset is:
428
-----
They are:
   AFH-Wealth-Management
   AJ-Bell
   ALDI
   AQA
   ASDA
   ASOS
   AXA-UK
   Abcam
   Abertawe-Bro-Morgannwg-University-Health-Board
   Accenture
   Accor
   Achieving-for-Children
   ActionCOACH
   Active-Care-Group
   Adecco
   Age-UK-The-National-Charity
   AlixPartners
   American-Express
   Amey
   Angard-Staffing
   Anglian-Water
   Anglo-American
   Animal-and-Plant-Health-Agency
   Aon
   Apple
   Arcadia
   Arnold-Clark
   AstraZeneca
   Aviva
   B-and-M-Retail
   B-and-Q
   BAT
   BBC
   BDO
   BHS
   BIS
   BNP-Paribas
   BNY-Mellon
   BP
   BPP-Holdings
   BT
   Babcock-International-Group
   Babylon-Health
   Bain-and-Company
   Balfour-Beatty
   Bannatyne-Group
   Barchester-Healthcare
   Barclays
   Barnardo-s
   Barnet-and-Chase-Farm-Hospitals-NHS-Trust
   Barnett-Waddingham
   Barratt-Developments
   Barts-Health-NHS-Trust
   BayWa-r-e-renewable-energy
   Bayer
   Best-Western
   Betsi-Cadwaladr-University-Health-Board
   Bill-and-Melinda-Gates-Foundation
   Birkbeck-College
   Birmingham-City-University
   Bloomberg-L-P
   Blue-Arrow
   Blue-Yonder
   Booking-com
   Boots
   Boots-Opticians
   Boston-Consulting-Group
   Brewin-Dolphin
   British-Airways
   British-Red-Cross
   Brook-Street
   Bullhorn
   Bupa
   Burberry
   CBRE
   CVS-Group
   Cambridge-Assessment
   Capita
   Capital-Group
   CarShop-UK
   Cardiff-University
   Care-UK
   Career-Legal
   Christie-s
   Cisco-Systems
   Citi
   Citizens-Advice
   CityFibre
   Civil-Service-United-Kingdom
   Co-op
   Colosseum-Dental
   Colt-Technology-Services
   Communities-and-Local-Government
   Companies-House
   Compass-Group
   Cougar-Mountain
   Countrywide-plc
   Covea-Insurance
   Coventry-University
   Creative-Support
   Cromwell-Tools
   Crown-Prosecution-Service
   Crowne-Plaza-Hotels-and-Resorts
   Curtis-Banks
   Cushman-and-Wakefield
   Cygnet-Health-Care
   DFID
   DFS-Furniture
   DHL-Supply-Chain
   DPDgroup
   DWF
   Dalata-Hotel-Group
   David-Lloyd-Leisure
   Debenhams
   Deloitte
   Department-for-Work-And-Pensions
   Department-of-Health-UK
   Deutsche-Bank
   Diageo
   Diligenta
   Dixons-Carphone
   Doubletree-By-Hilton
   Durham-County-Council
   Dynatrace
   EBRD
   ENABLE-Scotland
   ENGIE
   EY
   East-Sussex-County-Council
   Egon-Zehnder
   Engineering-and-Physical-Sciences-Research-Council
   Equiniti
   Eversheds-Sutherland
   Everyone-Active
   FARFETCH
   FYXER
   Facebook
   FirstPort
   Foreign-and-Commonwealth-Office
   Four-Seasons-Health-Care
   Foxtons
   Freshfields-Bruckhaus-Deringer
   GLL
   GTR-Govia-Thameslink-Railway
   Gateley
   Gi-Group
   GlaxoSmithKline
   Goldman-Sachs
   Google
   Grange-Hotels
   Grant-Thornton
   Grant-Thornton-UK-LLP
   Grosvenor-Casinos
   Guardian-News-and-Media
   Guy-s-and-St-Thomas-NHS-Foundation-Trust
   Gymbox
   H-and-M
   HC-One
   HM-Courts-and-Tribunals-Service
   HM-Prison-Service
   HM-Treasury
   HMCTS
   HSBC-Holdings
   Hampshire-County-Council
   Harris-Federation
   Harrods
   Harvey-Nichols
   Hastings-Direct
   Hays
   Health-Education-England
   Health-Protection-Agency
   Her-Majesty-s-Revenue-and-Customs
   Hilton
   Hitachi-Capital-UK
   Holiday-Inn
   Holiday-Inn-Express
   Home-Group
   Home-Office
   Hyatt
   IBM
   IHG-Hotels-and-Resorts
   ISS-Facility-Services
   Immediate-Media-Company
   Imperial-College-London
   Indeed
   Intelligent-Office-UK
   Interserve
   Iron-Mountain-Inc
   Irwin-Mitchell
   J-P-Morgan
   J-Sainsbury
   JLL
   JLT-Group
   JP-Boden-and-Co
   Jaguar-Land-Rover
   James-Hay-Partnership
   John-Lewis-and-Partners
   Jurys-Inns
   KKR
   KPMG
   Kent-County-Council
   Kier-Group
   King-s-College-London
   Kingsley-Healthcare
   Knight-Frank
   Korn-Ferry
   Kurt-Geiger
   LGT-Group
   LSE
   LV
   Lancaster-University
   Latham-and-Watkins
   Leaders-Romans-Group
   Leeds-City-Council
   Legal-and-General
   Leonardo-Hotels
   Lidl
   Link-Group
   LinkedIn
   Lloyds-Banking-Group
   London-Underground
   Loughborough-University
   Macdonald-Hotels-and-Resorts
   Malmaison
   Manchester-Metropolitan-University
   Manpower
   Marks-and-Spencer
   Marriott-International
   Mastercard
   McDonald-s
   McKinsey-and-Company
   Mears
   Mercer
   Met-Office
   Metro-Bank
   Michelmores
   Microsoft
   Ministry-of-Justice-UK
   Missguided
   Mitie
   Moneypenny
   Morgan-Stanley
   Morrisons
   Mountain-Warehouse
   MyCSP
   NHS
   NHS-England
   NHS-Professionals
   NPSA
   Nando-s-UK-and-IRE
   National-Institute-for-Health-and-Care-Excellence
   National-Offender-Management-Service
   National-Star
   Nationwide-Building-Society
   Network-Rail
   New-Look
   Newcastle-Upon-Tyne-Hospitals-NHS
   North-Yorkshire-County-Council
   Northern-Gas-and-Power
   Northern-Ireland-Civil-Service
   Novotel-Hotels
   Nuffield-Health
   Odgers-Berndtson
   Office-Angels
   Office-Concierge
   Office-for-National-Statistics
   Office-of-Rail-Regulation
   Oliver-Bonas
   Oliver-Wyman
   Oracle
   Orbit-Group
   Ordnance-Survey
   Oxford-University
   Oxford-University-Press
   Pearson
   Penderels-Trust
   Penguin-Random-House
   People-Group
   Pertemps
   Pizza-Hut
   Portico
   Post-Office
   Premier-Inn
   Primark
   Priory-Group
   Public-Health-England
   PwC
   Queen-s-University-Belfast
   REED
   RSM
   RWE-Supply-and-Trading
   Radisson-Hotel-Group
   Randstad
   Rapport-London
   Rathbone-Brothers
   Reassured
   Rendall-and-Rittner
   Rentokil-Initial
   River-Island-Clothing
   Robert-Walters
   Roche
   Rodericks-Dental
   Royal-Mail
   Rural-Payments-Agency
   Ryan-LLC
   SAP
   SSE
   Sage
   Sainsbury-s
   Salesforce
   Sanctuary-Group
   Santander
   Savills
   ScS-Sofas
   Scottish-Courts-and-Tribunals-Service
   Scottish-Government
   Scottish-Widows
   Search-Consultancy
   Serco-Group
   Skipton-Building-Society
   Sky
   Sodexo
   Somerset-County-Council
   Somerset-Partnership-NHS-Foundation-Trust
   Sotheby-s
   Southern-Health-and-Social-Care-Trust
   Specsavers
   Spire-Healthcare
   Sport-England
   Square-Enix
   St-James-s-Place-Wealth-Management
   Standard-Life-Aberdeen
   Student-Loans-Company
   Surrey-County-Council
   Sytner
   TLT
   TUI-Group
   Tate
   Tate-Recruitment
   Taylor-Wimpey
   Tengizchevroil
   Tesco
   The-Access-Group-UK
   The-British-Army
   The-Church-of-Jesus-Christ-of-Latter-day-Saints
   The-Coal-Authority
   The-Department-for-Education-UK
   The-Ivy-Collection
   The-London-Clinic
   The-National-Gallery
   The-Open-University
   The-Range
   The-Royal-Marsden-NHS-Foundation-Trust
   The-Salvation-Army
   The-Survey-Association
   The-White-Company
   Thomas-Cook
   Thomson-Reuters
   Time-Etc
   Topshop
   Tower-Hamlets-Council
   Transport-for-London
   Travelodge-Hotels-UK
   UHMBT
   UK-Atomic-Energy-Authority
   UK-Border-Agency
   UK-Ministry-of-Defence
   UKCIL
   Unilever
   United-Utilities
   Unity-Technologies
   University-College-London
   University-College-London-Hospitals
   University-Hospitals-of-Leicester
   University-of-Bath
   University-of-Birmingham
   University-of-Bradford
   University-of-Bristol
   University-of-Cambridge
   University-of-Durham
   University-of-Edinburgh
   University-of-Glasgow
   University-of-Huddersfield
   University-of-Hull
   University-of-Leeds
   University-of-Leicester
   University-of-Liverpool
   University-of-Manchester
   University-of-Michigan
   University-of-Newcastle-UK
   University-of-Nottingham
   University-of-Reading
   University-of-Sheffield
   University-of-Southampton
   University-of-Strathclyde
   University-of-Warwick
   University-of-York
   University-of-the-Arts-London
   University-of-the-West-of-England
   VMware
   Valuation-Office-Agency
   Veolia
   Vets-Now
   Vets4Pets
   Virgin-Active
   Virgin-Media
   Vodafone
   WHSmith
   WLT-Group
   Waitrose
   Wakefield-Council
   Wellington-Management
   West-Sussex-County-Council
   Western-Health-and-Social-Care-Trust
   Whitbread
   Willis-Towers-Watson
   Willmott-Dixon
   Wipro
   Wise
   Workday
   XPO-Logistics
   XPS-Pensions-Group
   YOOX-NET-A-PORTER-GROUP
   i-Net-Solution
   ibis
   mydentist-UK
   next
   the-LEGO-Group

In [10]:
#See how many different "types" of employees there are
for i in glassdoor_df["current"].unique():
    print(i)

Current Employee
Current Employee, more than 1 year
Current Employee, less than 1 year
Former Employee
Current Employee, more than 5 years
Former Employee, more than 1 year
Former Employee, more than 3 years
Former Employee, more than 5 years
Current Employee, more than 3 years
Current Employee, more than 8 years
Former Employee, less than 1 year
Former Employee, more than 8 years
Current Employee, more than 10 years
Former Employee, more than 10 years
Former Contractor, less than 1 year
Former Intern, less than 1 year
Current Contractor, less than 1 year
Former Contractor
Former Intern, more than 1 year
Current Contractor
Former Intern
Current Intern, less than 1 year
Current Contractor, more than 1 year
Former Contractor, more than 1 year
Former Contractor, more than 8 years
Former Temporary Employee
KEY NOT FOUND: jobLine.per_diem-former
Current Freelancer, more than 3 years
KEY NOT FOUND: jobLine.temporary-former

In [11]:
#Employees we're interested in comparing
employees = ["Current Employee",
             "Current Employee, more than 1 year",
            "Current Employee, less than 1 year",
            "Former Employee",
            "Current Employee, more than 5 years",
            "Former Employee, more than 1 year",
            "Former Employee, more than 3 years",
            "Former Employee, more than 5 years",
            "Current Employee, more than 3 years",
            "Current Employee, more than 8 years",
            "Former Employee, less than 1 year",
            "Former Employee, more than 8 years",
            "Current Employee, more than 10 years",
            "Former Employee, more than 10 years"]

In [14]:
#Only include those types of employees
glassdoor_employees_df = glassdoor_df.loc[glassdoor_df["current"].isin(employees)].reset_index(drop = True)
glassdoor_employees_df

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838529,the-LEGO-Group,2021-06-02,Marketing Manager,"Current Employee, more than 5 years","München, Bavaria, Bavaria",5,4.0,5.0,4.0,4.0,4.0,4.0,v,v,v,Just an awesome company to work for!!!,"Great company values, awesome product, smart c...",Not very easy to transfer to other locations
838530,the-LEGO-Group,2021-06-03,Sales Associate,"Current Employee, less than 1 year","London, England, England",3,NaN,NaN,NaN,NaN,NaN,NaN,o,o,o,working at lego,staff discount is really nice,micro managing is a hassle\r\ncan become menta...
838531,the-LEGO-Group,2021-06-03,Strategist,Current Employee,NaN,4,5.0,5.0,5.0,3.0,5.0,3.0,v,o,o,not interested in growing their people,loved brand for a lot of people,you can spend 6-10 years without any promotion...
838532,the-LEGO-Group,2021-06-04,Customer Service Representative,"Current Employee, less than 1 year",NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,o,o,o,Great Place to Work,"Good wages, good hours, lots of resources","Working every other weekend, busy seasons can ..."
838533,the-LEGO-Group,2021-06-04,Human Resources Specialist,"Current Employee, more than 3 years","Kladno, Central Bohemian, Central Bohemian",5,4.0,5.0,4.0,4.0,5.0,5.0,v,v,o,I strongly recommend the LEGO Group as employer,The LEGO Group is company with many opportunit...,Many things are centralized in Denmark and rel...

In [15]:
glassdoor_employees_df.columns

Index(['firm', 'date_review', 'job_title', 'current', 'location',
       'overall_rating', 'work_life_balance', 'culture_values',
       'diversity_inclusion', 'career_opp', 'comp_benefits', 'senior_mgmt',
       'recommend', 'ceo_approv', 'outlook', 'headline', 'pros', 'cons'],
      dtype='object')

In [17]:
#Split the "current" column into Current/Former and how long the employee has been/was there
glassdoor_employees_df[["Current/Former", "Length"]] = glassdoor_employees_df["current"].str.split(',', 1, expand = True)
glassdoor_employees_df

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,Current/Former,Length
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication.",Current Employee,None
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...,Current Employee,more than 1 year
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very...",Current Employee,less than 1 year
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor,Current Employee,None
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr...",Current Employee,more than 1 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838529,the-LEGO-Group,2021-06-02,Marketing Manager,"Current Employee, more than 5 years","München, Bavaria, Bavaria",5,4.0,5.0,4.0,4.0,4.0,4.0,v,v,v,Just an awesome company to work for!!!,"Great company values, awesome product, smart c...",Not very easy to transfer to other locations,Current Employee,more than 5 years
838530,the-LEGO-Group,2021-06-03,Sales Associate,"Current Employee, less than 1 year","London, England, England",3,NaN,NaN,NaN,NaN,NaN,NaN,o,o,o,working at lego,staff discount is really nice,micro managing is a hassle\r\ncan become menta...,Current Employee,less than 1 year
838531,the-LEGO-Group,2021-06-03,Strategist,Current Employee,NaN,4,5.0,5.0,5.0,3.0,5.0,3.0,v,o,o,not interested in growing their people,loved brand for a lot of people,you can spend 6-10 years without any promotion...,Current Employee,None
838532,the-LEGO-Group,2021-06-04,Customer Service Representative,"Current Employee, less than 1 year",NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,o,o,o,Great Place to Work,"Good wages, good hours, lots of resources","Working every other weekend, busy seasons can ...",Current Employee,less than 1 year
838533,the-LEGO-Group,2021-06-04,Human Resources Specialist,"Current Employee, more than 3 years","Kladno, Central Bohemian, Central Bohemian",5,4.0,5.0,4.0,4.0,5.0,5.0,v,v,o,I strongly recommend the LEGO Group as employer,The LEGO Group is company with many opportunit...,Many things are centralized in Denmark and rel...,Current Employee,more than 3 years

In [18]:
#drop the columns that are non-numerical
glassdoor_employees_df = glassdoor_employees_df.drop(columns = ["recommend", "ceo_approv", "outlook", "headline", "pros", "cons"])
glassdoor_employees_df

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,Current/Former,Length
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,Current Employee,None
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,Current Employee,more than 1 year
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,Current Employee,less than 1 year
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,Current Employee,None
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,Current Employee,more than 1 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838529,the-LEGO-Group,2021-06-02,Marketing Manager,"Current Employee, more than 5 years","München, Bavaria, Bavaria",5,4.0,5.0,4.0,4.0,4.0,4.0,Current Employee,more than 5 years
838530,the-LEGO-Group,2021-06-03,Sales Associate,"Current Employee, less than 1 year","London, England, England",3,NaN,NaN,NaN,NaN,NaN,NaN,Current Employee,less than 1 year
838531,the-LEGO-Group,2021-06-03,Strategist,Current Employee,NaN,4,5.0,5.0,5.0,3.0,5.0,3.0,Current Employee,None
838532,the-LEGO-Group,2021-06-04,Customer Service Representative,"Current Employee, less than 1 year",NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,Current Employee,less than 1 year
838533,the-LEGO-Group,2021-06-04,Human Resources Specialist,"Current Employee, more than 3 years","Kladno, Central Bohemian, Central Bohemian",5,4.0,5.0,4.0,4.0,5.0,5.0,Current Employee,more than 3 years

In [20]:
#Rearrange the columns for #fun
glassdoor_employees_df = glassdoor_employees_df[["Current/Former",
                                                 "Length",
                                                 "firm",
                                                 "date_review",
                                                 "job_title",
                                                "location",
                                                "overall_rating",
                                                "work_life_balance",
                                                "culture_values",
                                                "diversity_inclusion",
                                                "career_opp",
                                                "comp_benefits",
                                                "senior_mgmt"]]
glassdoor_employees_df

,Current/Former,Length,firm,date_review,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
0,Current Employee,None,AFH-Wealth-Management,2015-04-05,,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0
1,Current Employee,more than 1 year,AFH-Wealth-Management,2015-12-11,Office Administrator,"Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0
2,Current Employee,less than 1 year,AFH-Wealth-Management,2016-01-28,Office Administrator,"Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0
3,Current Employee,None,AFH-Wealth-Management,2016-04-16,,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0
4,Current Employee,more than 1 year,AFH-Wealth-Management,2016-04-23,Office Administrator,"Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
838529,Current Employee,more than 5 years,the-LEGO-Group,2021-06-02,Marketing Manager,"München, Bavaria, Bavaria",5,4.0,5.0,4.0,4.0,4.0,4.0
838530,Current Employee,less than 1 year,the-LEGO-Group,2021-06-03,Sales Associate,"London, England, England",3,NaN,NaN,NaN,NaN,NaN,NaN
838531,Current Employee,None,the-LEGO-Group,2021-06-03,Strategist,NaN,4,5.0,5.0,5.0,3.0,5.0,3.0
838532,Current Employee,less than 1 year,the-LEGO-Group,2021-06-04,Customer Service Representative,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN
838533,Current Employee,more than 3 years,the-LEGO-Group,2021-06-04,Human Resources Specialist,"Kladno, Central Bohemian, Central Bohemian",5,4.0,5.0,4.0,4.0,5.0,5.0

In [21]:
glassdoor_employees_df.columns

Index(['Current/Former', 'Length', 'firm', 'date_review', 'job_title',
       'location', 'overall_rating', 'work_life_balance', 'culture_values',
       'diversity_inclusion', 'career_opp', 'comp_benefits', 'senior_mgmt'],
      dtype='object')

In [28]:
#Find the mean value for the numerical columns grouped by current/former and length of employment
grouped_glassdoor_employees_mean_df = glassdoor_employees_df.groupby(["Current/Former", "Length"]).mean()

In [26]:
#Find the median value for the numerical columns grouped by current/former and length of employment
grouped_glassdoor_employees_median_df = glassdoor_employees_df.groupby(["Current/Former", "Length"]).median()

In [31]:
#Export these grouped dataframes to csv files for visualization in Tableau
grouped_glassdoor_employees_mean_df.to_csv('../Resources/Glassdoor_Grouped_Data/grouped_glassdoor_employees_mean.csv')
grouped_glassdoor_employees_median_df.to_csv('../Resources/Glassdoor_Grouped_Data/grouped_glassdoor_employees_median.csv')